node_modules/
*.log
.DS_Store
.env
wallets.txt
output.txt
wallet_balances.json
wallet_balances_arc.json
wallets_with_balance.json
wallets_with_balance_arc.json
phantom_wallets.json
phantom_wallets_arc.json
